<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MadeInHouse.Properties.Settings.inf245g4ConnectionString"
            connectionString="Data Source=inti.lab.inf.pucp.edu.pe;Initial Catalog=inf245g4;Persist Security Info=True;User ID=inf245g4usr"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
   
    </startup>
</configuration>